
p {
    margin: auto;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: bold;  
    color: white;

}


.menu {
    background: #265477;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    width: 30%;
    height: 500px;
    background:#430e51 ;
    float: left;
    margin-right: 10px;
    display: flex;
    
}
.content {
    width: 69%;
    height: 500px;
    background: blue;
    float: left;
    text-align: center;
    display: flex;
}

.footer{
    background: #ff3a99;
    text-align: center;
    margin-top: 10px;
    height: 90px;
    display: flex;
}
.header {
    background: #181d56;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
}